*{
padding : 0;
margin : 0;
border : 0;
}
body{
background-attachment : fixed;
background-size : 100% auto;
}
.container{
display : block;
width : 900px;
overflow : auto;
margin : 30px auto 0 auto;
}
.pageHeader{
float : left;
clear : none;
height : 50px;
width : 900px;
border-radius: 25px;
border: 2px solid #73AD21;
}
.pageLeftMenu{
float : left;
clear : none;
height : 600px;
width : 250px;
border-radius: 25px;
border: 2px solid #73AD21;
}
.pageContent{
float : left;
clear : none;
height : 600px;
width : 650px;
border-radius: 25px;
border: 2px solid #73AD21;
}
.pageFooter{
float : left;
clear : none;
height : 50px;
width : 900px;
border-radius: 25px;
border: 2px solid #73AD21;
}


#footer
{
	width:640px;
	clear:both;
	color:#999999;
	text-align:center;
	width:640px;
	padding-bottom: 15px;
	font-size: 85%;
}

#footer a{
	color:#999999;
	text-decoration: none;
	border-bottom: 1px dotted #999999;
}

/* Drop Down Styling */
select {
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
  background-color:#3498DB;
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color:white;
  padding:12px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  font-weight:bold;
  color:#fff;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
	   -moz-transition:0.3s ease all;
	    -ms-transition:0.3s ease all;
	     -o-transition:0.3s ease all;
	        transition:0.3s ease all;
}

#blue {
  background-color:#3498DB;
}

#blue:hover {
  background-color:#2980B9;
}

#green {
  background-color:#2ECC71;
}

#green:hover {
  background-color:#27AE60;
}

#red {
  background-color:#E74C3C;
}

#red:hover {
  background-color:#C0392B;
}

select:focus, select:active {
  border:0;
  outline:0;
}
/* Drop Down Styling Over*/

/* Styling for flex Caption*/

.flex-caption {
	width: 96%;
	padding: 2%;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
	font-size: 14px;
	line-height: 18px;
}

li.css a {
	border-radius: 0;
}

/* Styling for flex Caption Over*/